img{
    cursor: pointer;
}

.footer{
    margin-top: 100px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .footer_logo{
        width: 10%;
    }

    .foter_inner_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 60px;
        color: white;
        max-width: 1300px;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .navigation_ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .ul_text{
            display: flex;
            align-items: center;
            gap: 5px;
            transition: all .2s ease-in-out;
        }
        
        .ul_text:hover{
            color: darkgray;
        }

        .purchase{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .navigation_bumerang_logo{
            width: 50%;
        }

    }

    .navigation_2{
        display: flex;
        align-items: center;
        gap:40px;
    }

}

@media screen and (max-width:1050px) {
    .navigation{
        font-size: 50%;
    }

    .navigation_h3{
        font-size: 100%
    }

    .ul_text img{
        width: 10%;
    }

    .purchase img{
        width: 40%;
    }
}
@media screen and (max-width:580px) {
    .foter_inner_container{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .navigation{
        font-size: 60%;
    }
    .purchase img{
        width: 30%;
    }
}